<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.alin.swift"
        version="0.0.1">
    <name>Avosnic</name>
    <description>swift</description>
    <license>MIT</license>
    <keywords>swift</keywords>
    <repo>https://github.com/sankooc/cordova-plugin-ionic-avos.git</repo>
    <js-module src="www/swift.js" name="swift">
        <clobbers target="swift" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CustomPluginSwift">
                <param name="ios-package" value="DemoPluginInSwift"/>
            </feature>
        </config-file>
        <source-file src="src/ios/CustomPluginSwift.swift" />
    </platform>
</plugin>
